p IOS users:
a(href="http://joemaller.com/___?javascript:window.location='http://projectmakeit.com:3000/phone2home/mobile/'+encodeURIComponent(window.location)") open this link
p and follow the instructions to add the bookmarklet
p
p Android users:
a(href="javascript:window.location='http://projectmakeit.com:3000/phone2home/mobile/'+encodeURIComponent(window.location)") Bookmark this link
script
  (function(){
    localStorage.setItem('id',"#{id}");
    localStorage.setItem('code',"#{code}");
  })()
